$primary: #ab752f;
$secondary: #0a4758;
$danger: #ad1d2a;
$dark: #1c1e1f;
$light: #e6e6e6;

$font-family-sans-serif:
  '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

$print-page-size: auto;

$carousel-indicator-height: 4px;
$carousel-control-color: var(--bs-primary);
$carousel-indicator-active-bg: var(--bs-white);
$carousel-control-prev-icon-bg: url('@/img/carousel-control-prev.svg');
$carousel-control-next-icon-bg: url('@/img/carousel-control-next.svg');

$h1-font-size: 2rem;
$h2-font-size: 1.625rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;
$headings-font-weight: 600;

$enable-grid-classes: false;
$enable-cssgrid: true;
