@model HomeSensors.Web.Controllers.HomeController.GraphViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Temps</h1>
</div>

<div id="lineChart"></div>

@foreach (var current in Model.Current) {
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@(Math.Round((decimal)current.TemperatureCelsius, 1).ToString(".0"))C @current.Location</h5>
            <p><small class="fw-light">@current.Time</small></p>
        </div>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/billboard/billboard.css">
}

@section Scripts {
<script src="~/lib/billboard/d3.js"></script>
<script src="~/lib/billboard/billboard.js"></script>

<script>
    const modelData = @Json.Serialize(Model);

    console.log(modelData);

    const columns = [["x", ...modelData.xAxis]];

    modelData.series
        .forEach(s => columns.push([s.location, ...s.points
            .map(p => Number.isFinite(p.temperatureCelsius) ? (Math.round(p.temperatureCelsius * 10) / 10) : null)]));

    console.log(columns);

    const chart = bb.generate({
        data: {
            x: "x",
            xFormat: '%Y-%m-%d %H:%M',
            columns: columns,
            type: "line",
        },
        axis: {
            x: {
                type: "timeseries",
                tick: {
                    format: "%Y-%m-%d %H:%M"
                }
            }
        },
        line: {
            connectNull: true
        },
        bindto: "#lineChart"
    });
</script>
}
