@using VoidCore.AspNet.Configuration
@inject WebApplicationSettings appConfig
@inject IConfiguration config
@inject IHostEnvironment env
@{
    ViewData["Title"] = $"Home | {appConfig.Name}";
    var useVueDevServer = env.IsDevelopment() && !config.GetValue<bool>("DisableVueDevServer", false);
}

@section Style
{
    @* Vue dev server *@
    @if(useVueDevServer)
    {
        <script type="module"
                src="https://localhost:5173/@@vite/client">
        </script>
        <link rel="stylesheet"
              href="https://localhost:5173/src/styles/main.scss" />
        <script type="module"
                src="https://localhost:5173/src/main.ts">
        </script>
    }

    @* Deployed styles *@
    @if(!useVueDevServer)
    {
        <link rel="preload" as="style"
              asp-href-include="~/assets/main-*.css"
              asp-fallback-href-include="~/assets/main-*.css"
              asp-suppress-fallback-integrity="true" />
        <link rel="stylesheet"
              asp-href-include="~/assets/main-*.css"
              asp-fallback-href-include="~/assets/main-*.css"
              asp-suppress-fallback-integrity="true" />
    }
}

@section Script

{
    @* Deployed scripts *@
    @if(!useVueDevServer)
    {
        <script type="module"
                asp-src-include="~/assets/main-*.js"
                asp-fallback-src-include="~/assets/main-*.js"
                asp-suppress-fallback-integrity="true">
        </script>
    }
}

<noscript>
    <strong>We're sorry but this app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong>
</noscript>
<div id="app" tabindex="-1"></div>
